<h1>About</h1>

<p>I created this site so I could easily analyse the timetables of my local bus routes in Excel, however, I do intend for it to be quite general in focus.</p>
<p>If you have any suggestions for the site or bug reports, please don't hesitate to leave an issue on Github or shoot me an email.</p>

<p>Github repo: <a href="https://github.com/nvella/ptdata">https://github.com/nvella/ptdata</a></p>