<!DOCTYPE html>
<html>
    <head>
        <title>PTSheets</title>
        <link rel="stylesheet" href="/styles.css" type="text/css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" type="text/css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    </head>
    <body>
        <div class="box">
            <div class="header">
                <h1 style="display: inline; padding-right: 10px;">PTSheets</h1>
                <span><a href="/">[Home]</a> | Routes: </span>
                <% PTSheets::ROUTE_TYPES.map do |k, v| %><a href="/q/routes?route_type_id=<%=v%>">[<%=k%>]</a> <% end %>
                <span>| <a href="/about">[About/Contact]</a></span>
                <hr/>
            </div>
            <div class="container">
                <%= yield %>
            </div>
            <hr/>
            <p>PTSheets Copyright (c) 2019 Nick Vella, licensed under MIT - <a href="https://github.com/nvella/ptsheets">https://github.com/nvella/ptsheets</a> - feedback: nick at nxk dot io<br/>All data copyright PTV</p>
        </div>
    </body>
</html>
        