body {
    font-family: sans-serif;
    font-size: 10pt;
}

.data-table {
    margin-bottom: 10px;
}

.params {
    margin-bottom: 10px;
}

.container > .header {
    padding-top: 5px;
    padding-bottom: 10px;
}

.container > .header > h4 {
    color: grey;
}

.container > .header > h1, h4 {
    margin: 0px;
}